In [4]:
# Imports
import pandas as pd

# Load data as Pandas DataFrame
data = pd.read_csv("/Users/Valina/Documents/DSML-Projects/MLFoundations_CaseStudyApproach/data/ex2data1.txt", names=["x1","x2","y"])

## Visualization and Statistics

In [5]:
# Shape
data.shape

(100, 3)

In [6]:
# Describe
data.describe()

               x1          x2           y
count  100.000000  100.000000  100.000000
mean    65.644274   66.221998    0.600000
std     19.458222   18.582783    0.492366
min     30.058822   30.603263    0.000000
25%     50.919511   48.179205    0.000000
50%     67.032988   67.682381    1.000000
75%     80.212529   79.360605    1.000000
max     99.827858   98.869436    1.000000

In [7]:
# Length
len(data)

100

## Slicing

In [19]:
# Locate column(s) by name
data.loc[:,'x1':'y'].head()

          x1         x2  y
0  34.623660  78.024693  0
1  30.286711  43.894998  0
2  35.847409  72.902198  0
3  60.182599  86.308552  1
4  79.032736  75.344376  1

In [21]:
# data.loc[:,'x1'] equivalent to:
data['x1'].head()

0    34.623660
1    30.286711
2    35.847409
3    60.182599
4    79.032736
Name: x1, dtype: float64

In [16]:
# Locate element by index
data.iloc[0,0]

34.623659624516968

In [27]:
# Locate first five rows by index
data.iloc[:5,:]

          x1         x2  y
0  34.623660  78.024693  0
1  30.286711  43.894998  0
2  35.847409  72.902198  0
3  60.182599  86.308552  1
4  79.032736  75.344376  1

In [29]:
# Locate column by index
data.iloc[:,0].head()

0    34.623660
1    30.286711
2    35.847409
3    60.182599
4    79.032736
Name: x1, dtype: float64